@import "variables.less";

@font-face {
  font-family: 'AlteHaasGroteskRegular';
  src: url('../fonts/alteHaasGrotesk/AlteHaasGroteskRegular.eot');
  src: local('☺'),
  url('../fonts/alteHaasGrotesk/AlteHaasGroteskRegular.woff') format('woff'),
  url('../fonts/alteHaasGrotesk/AlteHaasGroteskRegular.ttf') format('truetype'),
  url('../fonts/alteHaasGrotesk/AlteHaasGroteskRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlteHaasGroteskBold';
  src: url('../fonts/alteHaasGrotesk/AlteHaasGroteskBold.eot');
  src: local('☺'),
  url('../fonts/alteHaasGrotesk/AlteHaasGroteskBold.woff') format('woff'),
  url('../fonts/alteHaasGrotesk/AlteHaasGroteskBold.ttf') format('truetype'),
  url('../fonts/alteHaasGrotesk/AlteHaasGroteskBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SmudgerLetPlain';
  src: url('../fonts/smudgerLet/SmudgerLetPlain.eot');
  src: local('☺'),
  url('../fonts/smudgerLet/SmudgerLetPlain.woff') format('woff'),
  url('../fonts/smudgerLet/SmudgerLetPlain.ttf') format('truetype'),
  url('../fonts/smudgerLet/SmudgerLetPlain.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: AlteHaasGroteskRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: AlteHaasGroteskBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fulltape {
  background-size: 100% 100%;
  background-image: url("../images/fulltape.svg");
}

.btn.wrap-whitespace {
  white-space: normal;
}

.avatar {
  display: inline-block;
  img {
    border-radius: 50%;
    margin-right: 5px;
  }
}

.popover {
  .popover-title {
    margin-top: 0;
    background-color: #7d343a;
    font-family: AlteHaasGroteskRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .popover-content {
    &, a * {
      color: #333;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
    }

    a *:hover {
      color: #980715;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
    }
  }
}

.volume {
  cursor: pointer;

  .volume-slider {
    position: relative;
    display: inline-block;
    * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: -moz-none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .volume-slider-sticks {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;

    > li {
      position: relative;
      text-indent: -99999px;
      width: 3px;
      margin-right: 3px;
      height: 90%;
      top: 10%;
      float: left;
      display: inline-block;
      background: rgba(0, 0, 0, 0.1);
      -webkit-transition: height 60ms ease-out, top 60ms ease-out;
      -moz-transition: height 60ms ease-out, top 60ms ease-out;
      -ms-transition: height 60ms ease-out, top 60ms ease-out;
      -o-transition: height 60ms ease-out, top 60ms ease-out;
      transition: height 60ms ease-out, top 60ms ease-out;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        height: 100%;
        top: 0;
      }
    }
  }

  .volume-slider-stick {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #C0202F;
    opacity: 1;
    -webkit-transition: opacity 50ms ease-out;
    -moz-transition: opacity 50ms ease-out;
    -o-transition: opacity 50ms ease-out;
    -ms-transition: opacity 50ms ease-out;
    transition: opacity 50ms ease-out;
  }

}

.grecaptcha-badge {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('../images/bg.png');
}

.top-nav, .media-bar, .navbar {
  font-weight: 600;
  position: relative;
}

.top-nav {
  height: 26px;
  margin-bottom: 0;
  background-color: #861620;
  z-index: 3;

  @media @medium {
    &, & > div {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .languages-dropdown {
    .dropdown-toggle {
      cursor: pointer;
    }

    .dropdown-menu {
      min-width: inherit;
      padding: 0;
      border: none;
      border-radius: 2px;
      text-align: center;
      left: -10px;

      @media @medium {
        left: -48px;
      }

      li {
        width: 100%;
        border-radius: 2px;

        &:hover {
          background-color: #ececec;
        }

        a {
          color: #999999;

          &:hover {
            background-color: inherit;
          }

          .flag-icon {
            margin-left: 5px;
          }
        }
      }
    }
  }

  ul li:hover {
    background-color: #78131c;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  ul {
    list-style: none;
    margin: 0;
    text-align: right;

    li {
      position: relative;
      display: inline-block;
      padding: 0 10px;

      a {
        padding-top: 3px;
        padding-bottom: 3px;
        color: #f1f1f1;
        display: block;

        &:hover, &:focus {
          text-decoration: none;
        }

        .fa {
          margin-right: 3px;
        }
      }
    }
  }

  @media @medium {
    ul {
      padding: 0;
      text-align: center;
    }
  }
}

.media-bar {
  height: 70px;
  background-color: #191919;
  z-index: 2;

  .brand-logo {
    max-width: 90%;
    margin-top: 5px;
  }

  .media-player-container {
    padding-top: 6px;
    padding-bottom: 6px;

    .media-player {
      padding: 3px;
      width: 300px;
      max-width: 300px;
      background-color: #484848;
      border-radius: 2px;

      @media @medium {
        width: 100%;
      }

      .left-container, .right-container {
        padding: 0;
      }

      .left-container {
        text-align: center;

        a {
          display: inline-block;

          img {
            height: 48px;
            width: 48px;
          }
        }
      }
      .right-container {
        padding-left: 5px;

        a {
          color: #F1F1F1;
          transition: color 0.2s;
        }

        a:hover {
          color: #C0202F;
          text-decoration: none;
          transition: color 0.2s;
        }

        .media-player-info {
          float: right;
          line-height: 0;
        }

        .song-info {
          margin: 0;
          color: #a1a1a1;
          line-height: 1.1;
          padding-left: 2px;

          #current-song-mixtape {
            font-size: 0.8em;
          }
        }

        .media-player-controls {
          padding: 0 3px;
          text-align: center;

          a {
            cursor: pointer;
          }

          .progress {
            height: 12px;
            margin-bottom: 0;
            margin-top: 4px;
            background-color: #909090;
            cursor: pointer;

            .progress-bar {
              background-color: #C0202F;
            }
          }

          .volume .volume-slider {
            height: 12px;
          }
        }
      }
    }
  }

  @media @large {
    height: 70px;

    .brand-logo {
      height: 60px;
    }
  }

  @media @medium {
    .brand-logo {
      display: none;
    }
  }
}

.navbar-container {
  height: 40px;

  &, .navbar {
    background-color: #292929;
  }

  @media @medium {
    & {
      height: 50px;
    }

    &, > div {
      padding: 0;
    }
  }

  .navbar {
    height: 40px;
    min-height: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    z-index: 1;

    .navbar-form {
      margin-top: 5px;
      margin-bottom: 0;
      border-bottom: none;

      .input-group {
        input {
          height: 30px;
          border-radius: 0;
          background-color: #fff;
          border-color: #5d0f16;
          -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;

          &:focus {
            background-color: #f1f1f1;
            -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
          }
        }

        button {
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 0;
          background-color: #78131c;
          border-color: #5d0f16;
          color: #f1f1f1;
          -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;

          &:hover {
            background-color: #9a242e;
            -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
          }
        }
      }
    }

    .navbar-header {
      .navbar-toggle {
        margin-bottom: 3px;
        padding: 8px 6px;
        margin-top: 9px;

        .icon-bar {
          background-color: #f1f1f1;
        }

        &:focus {
          background-color: transparent;

          .icon-bar {
            background-color: #f1f1f1;
          }
        }

        &:hover {
          background-color: #f1f1f1;

          .icon-bar {
            background-color: #78131c;
          }
        }
      }
    }

    .navbar-nav {
      li {
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;

        a {
          text-transform: uppercase;
          color: #adadad;
        }

        &.active {
          a, a:hover, a:focus {
            background-color: #861620;
            color: #f1f1f1;
          }
        }
      }
    }

    @media @medium {
      .container-fluid {
        background-color: #861620;
        position: relative;
        z-index: 1;
      }

      .navbar-brand {
        padding: 5px 8px;
      }

      .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;

        li:hover {
          background-color: #f1f1f1;
        }
      }

      .navbar-right {
        margin-top: 0;
      }
    }

    @media @large {
      .navbar-nav li {
        &:hover {
          background-color: #78131c;
          -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;

          a {
            color: #f1f1f1;
          }
        }

        a {
          padding-top: 10px;
          padding-bottom: 10px;
          color: #f1f1f1;
        }
      }

      .navbar-brand {
        display: none;
      }
    }
  }
}

.main-container {
  @media @medium {
    padding: 0 0 5px 0;
  }

  .content {
    display: flex;
    min-height: 100%;
    background-color: #f1f1f1;
    border-left: solid 3px #dbdbdb;
    border-right: solid 3px #dbdbdb;

    @media (max-width: 1199px) {
      border: none;
    }

    @media @medium {
      border: none;
      padding: 0;

      > .col-xs-12 {
        padding: 0;
      }
    }

    .content-container {
      max-width: 100%;

      .section-title {
        margin: 0;
        border-color: #d2d2d2;

        &.no-border {
          border: none;
        }

        @media @medium {
          text-align: center;
        }

        .fulltape-icon {
          display: inline-block;
          position: relative;
          height: 60px;
          width: 60px;
          top: 10px;

          @media @medium {
            height: 50px;
            width: 50px;
          }
        }

        h1, h2, h3, h4, h5, h6 {
          font-family: SmudgerLetPlain, "Helvetica Neue", Helvetica, Arial, sans-serif;
          display: inline-block;
          margin-bottom: 0;

          small {
            display: inline-block;
            margin-left: 5px;
            font-size: 0.35em;
          }
        }
      }

      .jumbotron {
        background-color: #e6e6e6;
        border-radius: 0;
        padding: 15px 15px;

        .card-list-container {
          max-width: 1000px;
          margin: auto;

          > div {
            padding: 0;

            @media (max-width: 450px) {
              width: 50%;
            }
          }

          .list-card {
            width: 100%;
            margin: auto;
            padding-top: 0;

            &.mixtape-card {
              height: 260px;

              &.official-mixtape {
                .mixtape-labels {
                  .label-official {
                    display: inline;
                  }
                  .label-non-official {
                    display: none;
                  }
                }
              }
            }
            &.artist-card {
              height: 185px;
            }

            a {
              cursor: pointer;
              color: inherit;

              &:hover, &:focus {
                color: inherit;
                text-decoration: none;
              }
            }

            .card-cover {
              .card-cover-bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100px;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                filter: blur(1px) brightness(90%);
                overflow: hidden;
              }

              img {
                height: 90px;
                width: 90px;
                position: relative;
                box-shadow: 0 0 5px black;
                margin-top: 4px;
              }
            }

            .caption {
              padding: 5px;

              p {
                margin-bottom: 0;
              }

              hr {
                margin: 5px 0 0 0;
              }

              .mixtape-labels {
                .label {
                  display: inline;
                  font-size: 9px;
                  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                }

                .label-official {
                  display: none;
                }
              }

              .card-title {
                font-size: 12px;

                a {
                  color: #b51826;
                  font-family: AlteHaasGroteskBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
                }
              }

              .card-artist {
                margin-top: 5px;
                text-align: right;
                font-size: 11px;
                font-weight: bold;
                color: #6d6d6d;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                a {
                  -webkit-transition: color .2s;
                  transition: color .2s;

                  .avatar img {
                    height: 20px;
                    width: 20px;
                  }

                  &:hover {
                    color: #4a4a4a;
                    -webkit-transition: color .3s;
                    transition: color .3s;
                  }
                }
              }
            }
          }
        }
      }

      .mixtape-infos, .artist-infos {
        position: relative;
        width: 100%;
        min-height: 210px;

        .mixtape-infos-background, .artist-infos-background {
          position: absolute;
          width: 100%;
          height: 100%;
          filter: brightness(0.85);
          padding-bottom: 10px;

          &:before {
            position: absolute;
            content: " ";
            width: 100%;
            height: 100%;
            background-color: rgba(134, 22, 32, 0.8);
          }
        }

        .mixtape-cover-container, .mixtape-infos-container, .artist-cover-container, .artist-infos-container {
          padding-left: 5px;
          padding-right: 5px;
        }

        .mixtape-cover-container, .artist-cover-container {
          display: flex;
          align-items: center;
          min-height: 210px;

          img {
            width: 150px;
            max-width: 100%;
            border: 1px solid #78131c;
            margin: auto;
          }
        }

        .mixtape-infos-container, .artist-infos-container {
          padding-top: 18px;
          padding-bottom: 5px;

          @media @medium {
            text-align: center;
          }

          &, a {
            color: #f1f1f1;
            -webkit-transition: color .2s;
            transition: color .2s;
          }

          a:hover, a:focus {
            color: #a7a7a7;
            text-decoration: none;
            -webkit-transition: color .2s;
            transition: color .2s;
          }

          .mixtape-title, .artist-title {
            margin: 5px 0 5px 0;
          }

          .mixtape-infos-column {
            padding: 0;
          }

          p {
            font-size: 12px;
            margin-bottom: 5px;
          }

          .avatar {
            font-size: 14px;

            img {
              height: 20px;
              width: 20px;
            }
          }

          .featuring-artists-popover {
            cursor: pointer;
            font-size: 13px;
          }

          .featuring-artists {
            display: inline-block;
            margin: 0 0 3px 0;

            li {
              padding: 0;
              margin-right: 5px;

              &:after {
                content: ',';
              }

              &:last-child {
                margin-right: 0;

                &:after {
                  content: '';
                }
              }
            }

            .avatar {
              font-size: 13px;

              img {
                height: 15px;
                width: 15px;
              }
            }
          }
        }
      }

      .mixtape-toolbar {
        width: 100%;
        height: 30px;
        background-color: #5f0810;
        -webkit-transition: background-color .2s;
        transition: background-color .2s;

        .list-inline {
          text-align: center;
          margin: 0;

          &, li a {
            height: 30px;
          }

          li {
            padding: 0;

            @media @medium {
              width: 18%;
            }

            a {
              display: block;
              padding: 7px 5px 5px 5px;
              color: #f1f1f1;

              @media @large {
                width: 95px;
              }

              &:hover, &:focus {
                text-decoration: none;
              }

              h5 {
                margin: 0;
                font-size: 13px;

                .fa {
                  margin-right: 3px;
                }

                span {
                  font-family: inherit;

                  @media @medium {
                    display: none;
                  }
                }
              }
            }

            &:hover {
              background-color: #78131c;
              -webkit-transition: background-color .2s;
              transition: background-color .2s;
            }
          }
        }
      }

      .jumbotron {
        .share-list {
          margin-bottom: 0;

          a {
            font-size: 18px;
            cursor: pointer;
            color: #6f6f6f;
            -webkit-transition: color .2s;
            transition: color .2s;

            &:hover {
              color: #3c3c3c;
              -webkit-transition: color .2s;
              transition: color .2s;
            }
          }
        }

        .section-title h1 {
          font-size: 48px;
          margin-top: 5px;
        }

        .list-group {
          .list-group-item {
            display: flex;
            padding-left: 5px;
            padding-right: 5px;
            -webkit-transition: background-color .2s;
            transition: background-color .2s;

            &:hover {
              background-color: #c98e94;
              cursor: pointer;
              -webkit-transition: background-color .2s;
              transition: background-color .2s;

              .track-title {
                .fa-play {
                  display: inline-block;
                }
              }

              &.playing:hover {
                .track-title {
                  .fa-play, .fa-volume-up {
                    display: none;
                  }

                  .fa-pause {
                    display: inline-block;
                  }
                }
              }
            }

            &.playing {
              background-color: #d9bfc2;

              .track-title .fa-volume-up {
                display: inline-block;
              }
            }

            .track-number {
              padding: 0 5px;
            }

            .track-title {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              padding-left: 5px;
              padding-right: 5px;

              .fa-play, .fa-volume-up, .fa-pause {
                display: none;
                margin-right: 5px;
              }
            }

            .track-controls-container {
              &, > div {
                padding: 0;
              }

              a, a:focus, a:hover {
                color: #333;
                padding: 5px;
              }

              .track-play-controls {
                .progress-bar-container {
                  padding: 8px 0 0 0;

                  .track-progress-bar {
                    display: none;
                    margin: 0;
                    height: 5px;

                    .progress-bar {
                      background-color: #c0202f;
                    }
                  }
                }

                .track-volume-container {
                  padding: 2px 0 0 15px;

                  .volume .volume-slider {
                    height: 15px;

                    .volume-slider-sticks li {
                      background-color: #7d7d7d;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .form-container {
        .form-response {
          display: none;
          text-align: center;
          color: #4a4a4a;
        }

        .g-recaptcha {
          div, iframe {
            max-width: 100%;
          }

          div {
            margin: auto;
          }
        }
      }

      .contact-form-container, .authentification-form-container {
        .btn {
          -webkit-transition: background-color .2s;
          transition: background-color .2s;

          &:hover {
            -webkit-transition: background-color .2s;
            transition: background-color .2s;
          }
        }
      }

      .authentification-form-container {
        padding-top: 20px;

        .caution {
          font-size: 10px;
        }
      }

      .contact-form-container {
        padding-top: 50px;

        .btn {
          width: 100%;
        }
      }

      .list-filters {
        text-align: left;

        @media @medium {
          text-align: center;
        }

        .filter {
          display: block;
          min-width: 50px;
          padding-top: 3px;
          padding-bottom: 3px;
          background-color: transparent;
          border: 1px solid #777;
          color: #777;
          -webkit-transition: background-color .2s;
          transition: background-color .2s;
          cursor: pointer;

          &.active, &.active:hover, &.active:focus {
            background-color: #861620;
            color: #fff;
            border-color: #651219;
          }

          &:hover, &:focus {
            background-color: #ccc;
          }
        }
      }

      .list-sort-dropdowns {
        text-align: right;

        @media @medium {
          text-align: center;
        }

        li {
          margin-top: 2px;

          .sort-filter {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.428571429;
            color: #333;
            white-space: nowrap;
            cursor: pointer;

            &:hover, &:focus {
              color: #262626;
              background-color: #f5f5f5;
            }
          }
        }
      }

      .pagination {
        border: 1px solid #ccc;

        li {
          &.active a {
            background-color: #a71622;
            border-color: #a71622;
            color: #fff;
          }

          a {
            color: #333;
            -webkit-transition: background-color .2s;
            transition: background-color .2s;

            &:hover {
              -webkit-transition: background-color .2s;
              transition: background-color .2s;
            }
          }
        }
      }
    }

    .sidebar {
      padding: 30px 20px 0;
      border-left: solid 1px #e8e8e8;

      h1, h2, h3, h4, h5, h6 {
        font-family: inherit;
      }

      .row {
        margin-bottom: 20px;

        .upload-now-button {
          background-color: #e8e8e8;
          color: #565656;
          font-family: AlteHaasGroteskBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
          border-radius: 2px;
          -webkit-transition: border-color .2s;
          transition: border-color .2s;

          &:hover {
            -webkit-transition: border-color .2s;
            transition: border-color .2s;
          }
        }

        .panel {
          border-radius: 2px;

          .panel-heading {
            background-color: #e6e6e6;
            .panel-title {
              font-size: 13px;
            }
          }
          .panel-body {
            padding: 5px;

            .mixtape-card-min {
              position: relative;
              padding: 0;
              height: 100px;
              margin-bottom: 10px;
              border-radius: 2px;
              background-color: #d4d4d4;

              .mixtape-cover {
                width: 100%;
                height: 100%;
                background: no-repeat 50% 100%;
                background-size: contain;

                a {
                  display: block;
                  height: 100%;
                  width: 100%;
                }
              }

              .mixtape-card-caption {
                position: absolute;
                bottom: 0;
                background-color: fade(black, 60);
                font-size: 11px;
                width: 100%;
                height: 20px;
                padding: 3px;
                border-radius: 0 0 2px 2px;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                a, a:hover, a:focus {
                  color: white;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      @media @medium {
        display: none;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #292929;

  @media @medium {
    padding: 0;
  }

  .brand-logo {
    height: 50px;
    margin-top: 5px;
  }
}